
body {
  font-family: 'LotaRegular';
}
.navigation {
  background-color: #e73636; text-align: center;
}

@font-face {
font-family: 'LotaRegular';
src: url('assets/fonts/Los Andes  Lota Grotesque Alt 3 Regular.otf');
}


@font-face {
font-family: 'LotaBold';
src: url('assets/fonts/Los Andes  Lota Grotesque Alt 3 Bold.otf');
}

@font-face {
font-family: 'Bebas';
src: url('assets/fonts/BebasNeue-Regular.otf');
}

p {
  font-family: 'LotaRegular';
}

h1 {
  font-family: 'Bebas';
}

h2 {
  font-family: 'Bebas';
}

h3 {
  font-family: 'Bebas';
}

#meettommyright {
  margin-top: 5%;
  margin-left: 35px;
}

#madebyyouright {
  margin-top: 5%;
  margin-left: 35px;
}
#one {
  background-color: #e73636;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  font-family: LotaBold;
  vertical-align: middle;
}
::selection {
  background: #ffec83;
  color: black;
}





.padding {
  padding-top: 50px;
}

.padding-small {
  padding-top: 35px;
}

.navbar {
  background-color: #e73636 !important;
}

.center {
  text-align: center;
}
.nav-item {
  font-family: LotaBold;
}

.promotion {
  padding-top: 15px;
  background-color: #ffec83;
  min-height: 150px;
  height: auto;
  padding-bottom: 10px;
}

.texthighlight {
  color: #e73636;
}

.button {
  border-radius: 5px;
  font-family: 'LotaBold';
  background-color: #e73636;
  text-decoration: none;
  font-size: 100%;
  color: white !important;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
  margin-top: 10px;
  transition: linear 0.2s;
}

.boxed {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  color: black;
}
.button:hover {
  background-color: #FC7979;
  color: white;
  text-decoration: none;
}


#meettommy {
  background-color: #F8E0E0;
}

#pledges {
  padding-top: 70px;
  background-color: #702323;
}


#endorsements {
  padding-top: 70px;
  padding-bottom: 70px;
}


#calltoarms {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #ffec83;
}

#calltoarms h1 {
  font-size: 300%;
}

#madebyyoupromo {
  height: 500px;
}
.card {
  background-color: #ffec83;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  transition: ease 0.5s;
}
.fill img:hover {
  transform: scale(1.15);
  transition: ease 0.5s;
}
p {
  font-size: 130%;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
@media only screen and (max-width: 800px) {


  #coverlogo {
    height: 200px !important;
  }

  #campaign-left h1 {
    font-size: 300% !important;
    float: none !important;
    text-align: center;
  }

   h1.largefont {
    font-size: 300% !important;
    float: none !important;
    text-align: center;
  }

  #promotion {
    height: 500px !important;
  }
  #meettommy {
    text-align: center;
  }

  h3.largecardcenter {
    text-align: center;
  }

  #madebyyou {
    text-align: center;
  }

  #mobilepiccol {
    display: block !important;
  }

  #picturecoll1 {
    display: none;
  }

  #picturecoll1 {
    display: none;
  }

  .cardleftimagerep {
    height: 400px !important;
  }

  #meettommyright {
    margin-left: 10px;
    margin-right: 10px;
  }

  #homepledgecardreadmore {
    height: 200px !important;
  }

  .padding-mobileremove {
    padding-top: 0 !important;
  }


}

@media only screen and (max-width: 1146px) {
  h1 {
    font-size: 400% !important;
  }

  h2 {
    font-size: 320% !important;
  }

  h3 {
    font-size: 270% !important;
  }

  h4 {
    font-size: 250% !important;
  }

  p {
    font-size: 130% !important;
  }
}
#mobilepiccol {
  display: none;
}
#mc_embed_signup {
  background-color: #ffec83;
}


#mc_embed_signup_scroll {
  background-color: #ffec83;
}

#mc_embed_signup_scroll label {
  font-family: 'LotaRegular'
}



#footer {
  background-color: #2E2E2E;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#footer p {
  text-align: center;
  color: white;
}

a {
  font-family: 'LotaRegular';
  text-align: center;
  font-size: 130%;
}

#campaign-left h1 {
  font-size: 500%;
}

h1 {
  font-size: 500%;
}

h2 {
  font-size: 350%;
}

h3 {
  font-size: 300%;
}


h4 {
  font-size: 250%;
}
#campaignforme {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

#survey {
  padding-top: 50px;
  padding-bottom: 50px;
}

.normalfontbold {
  font-family: 'LotaBold';
}

#notification {
  position: fixed;
  z-index: 100;
}

.card ::selection {
  background-color: #e73636;
  color: white;
}

.pledgecard {
  text-align: center;
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  
}

.widebutton {
  text-decoration: none;
  color: black;
  width: 100%;
  font-size: 300%;
  background-color:  #ffec83;
  text-align: center;
  height: 100px;
  vertical-align: middle;
}

.nodeco {
  display: flex;
}


#socials {
  vertical-align: middle;
  text-align: center;
}

.socialcard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 400px;
}

.socialcard img {
  text-align: center;
}

.socialcard h2 {
  padding-top: 10px;
  color: white;
}

#logo {
  
}